
line.seq_dia_event_connection{
  stroke:black;
  stroke-width:8px;
}

text.seq_dia_event_connection{
  font-weight:bold;
  font-size:10px;
  text-anchor:end;
  fill:SlateGray;
}

text.seq_dia_event_connection_left{
  font-weight:bold;
  font-size:10px;
  text-anchor:end;
  fill:SlateGray;
}

text.seq_dia_event_connection_right{
  font-weight:bold;
  font-size:10px;
  text-anchor:start;
  fill:SlateGray;
}

