
text.seq_dia_event_ip_address{
  font-weight:bold;
  font-size:7px;
  text-anchor:start;
  fill:#222;
}

text.seq_dia_event_address{
  font-weight:bold;
  font-size:7px;
  text-anchor:start;
  fill:#222;
}
