
div.seq_dia_client_connected_not{
  position:relative;
  height:10px;
}

line.seq_dia_event_connected_not{
  stroke:black;
  stroke-width:1.4px;
  stroke-linecap:round;
}

circle.seq_dia_client_connected_not{
  stroke:red;
  fill:white;
}
