
text.stack_seq_dia_svg{
  color:Navy;
  font-weight:bold;
  font-size:10px;
  text-anchor:end;
}

rect.stack_seq_dia_svg{
  stroke:Navy;
  stroke-width:0.25;
  fill:white;
}

line.stack_seq_dia_svg{
  stroke:Navy;
  stroke-width:0.5;
}

rect.stack_seq_dia_bg{
  stroke:Black;
  stroke-width:0.25;
  fill:white;
}

rect.stack_seq_dia_conn{
  fill:white;
  stroke:black;
  stroke-width:0.5;
}

line.stack_seq_dia_conn{
  stroke:Black;
  stroke-width:1;
}

text.stack_seq_dia_stack{
  font-weight:bold;
  font-size:9px;
  text-anchor:start;
}

circle.stack_seq_dia_conn{
  stroke-width:0!important;
}
