
div.seq_dia_state{
  position:relative;
  height:10px;
}

line.seq_dia_state_line{
  stroke:white;
  stroke-width:2px;
}

text.seq_dia_state_event_state_text{
  font-weight:bold;
  font-size:10px;
  text-anchor:end;
  fill:DarkSlateGray;
}

text.seq_dia_state_event_result_text{
  font-weight:bold;
  font-size:10px;
  text-anchor:start;
}

rect.test_none_svg{
  stroke-width:0.5;
  stroke:#eeeeee;
  fill:white;
}

circle.test_none_svg,
text.test_none_svg{
  fill:#eeeeee;
}

line.test_none_svg{
  stroke:#eeeeee;
}

rect.test_na_svg{
  stroke-width:0.5;
  stroke:#a0c986;
  fill:#d0e9c6;
}

circle.test_na_svg,
text.test_na_svg{
  fill:#a0c986;
}

line.test_na_svg{
  stroke:#a0c986;
}

rect.test_nimpl_svg{
  stroke-width:0.5;
  stroke:#a0c986;
  fill:#d0e9c6;
}

circle.test_nimpl_svg,
text.test_nimpl_svg{
  fill:#a0c986;
}

line.test_nimpl_svg{
  stroke:#a0c986;
}

rect.test_e_interrupt_svg{
  stroke-width:0.5;
  stroke:green;
  fill:Honeydew;
}

circle.test_e_interrupt_svg,
text.test_e_interrupt_svg{
  fill:green;
}

line.test_e_interrupt_svg{
  stroke:green;
}

rect.test_success_svg{
  stroke-width:0.5;
  stroke:green;
  fill:#d0e9c6;
}

circle.test_success_svg,
text.test_success_svg{
  fill:green;
}

line.test_success_svg{
  stroke:green;
}

rect.test_nexec_svg{
  stroke-width:0.5;
  stroke:#eeaa88;
  fill:#ffddcc;
}

circle.test_nexec_svg,
text.test_nexec_svg{
  fill:#eeaa88;
}

line.test_nexec_svg{
  stroke:#eeaa88;
}

rect.test_interrupt_svg{
  stroke-width:0.5;
  stroke:orange;
  fill:#ffddcc;
}

circle.test_interrupt_svg,
text.test_interrupt_svg{
  fill:orange;
}

line.test_interrupt_svg{
  stroke:orange;
}

rect.test_error_svg{
  stroke-width:0.5;
  stroke:orange;
  fill:#ffddcc;
}

circle.test_error_svg,
text.test_error_svg{
  fill:orange;
}

line.test_error_svg{
  stroke:orange;
}

rect.test_failure_svg{
  stroke-width:0.5;
  stroke:red;
  fill:#ffbbbb;
}

circle.test_failure_svg,
text.test_failure_svg{
  fill:red;
}

line.test_failure_svg{
  stroke:red;
}

rect.test_timeout_svg{
  stroke-width:0.5;
  stroke:blue;
  fill:LightBlue;
}

circle.test_timeout_svg,
text.test_timeout_svg{
  fill:blue;
}

line.test_timeout_svg{
  stroke:blue;
}

rect.test_reflection_svg{
  stroke-width:0.5;
  stroke:orange;
  fill:#ffddcc;
}

circle.test_reflection_svg,
text.test_reflection_svg{
  fill:orange;
}

line.test_reflection_svg{
  stroke:orange;
}
