
div.seq_dia_event_row_header{
  position:relative;
  height:inherit;
}

div.seq_dia_event_column_header_left{
  position:absolute;
  height:inherit;
}

div.seq_dia_event_column_header_middle{
  position:absolute;
  height:inherit;
}

div.seq_dia_event_column_header_right{
  position:absolute;
  height:inherit;
}

div.seq_dia_event_row{
  position:relative;
  height:inherit;
}

div.seq_dia_event_column_left{
  position:absolute;
  height:inherit;
  border-left:1px solid Black;
}

div.seq_dia_event_column_middle{
  position:absolute;
  height:inherit;
}

div.seq_dia_event_column_right{
  position:absolute;
  height:inherit;
  border-right:1px solid Black;
}

div.seq_dia_event_actor_line{
  position:absolute;
  height:inherit;
  width:2px;
  margin:0px 89px;
  background-color:black;
}

svg.actor_svg{
  position:absolute;
  overflow:visible!important;
}
