
div.seq_dia_test_case_start{
  position:relative;
  background-color:#f5f5f5;
  min-width:100%;
  white-space:nowrap;
  border:0.5px solid black;
  border-radius:3px;
  padding:0px 2px;
  height:20px;
}

strong.seq_dia_test_case_start{
  color:#337ab7;
  margin-left:8px;
  margin-right:2px;
}
