
div.seq_dia_phase_start{
  position:relative;
  height:5px;
}

div.seq_dia_phase_start_middle{
  border-top:1px solid black;
}

div.seq_dia_phase_end{
  position:relative;
  height:5px;
}

div.seq_dia_phase_end_middle{
  border-bottom:1px solid black;
}

div.seq_dia_phase_data{
  background-color:#fce6e6;
}

div.seq_dia_phase_pre{
  background-color:#e7f5fb;
}

div.seq_dia_phase_exec{
  background-color:#eafeea;
}

div.seq_dia_phase_post{
  background-color:#ffffe6;
}

div.seq_dia_phase_none{
  background-color:White;
}

//////////////////////////////////







span.seq_dia_phase_data{
  color:#fce6e6;
}

span.seq_dia_dark_phase_data{
  color:#fc7373;
}

span.seq_dia_phase_pre{
  color:#e7f5fb;
}

span.seq_dia_dark_phase_pre{
  color:#737afb;
}

span.seq_dia_phase_exec{
  color:#eafeea;
}

span.seq_dia_dark_phase_exec{
  color:#75f275;
}

span.seq_dia_phase_post{
  color:#ffffe6;
}

span.seq_dia_dark_phase_post{
  color:#efef5a;
}

div.seq_dia_phase_none{
  background-color:White;
}

span.seq_dia_phase_none{
  color:White;
}

span.seq_dia_dark_phase_none{
  color:#dfdfdf;
}
