
span.zoom_events{
  color:CornflowerBlue;
}

span.state_changes{
  color:Gold;
}

span.button_protocol_data_heading{
  color:Crimson;
}

span.button_protocol_data_detail{
  color:#444;
}

span.message_events{
  color:Crimson;
}

span.connection_events{
  color:Firebrick;
}

span.gui_events_heading{
  color:Green;
}

span.gui_events_detail{
  color:#444;
}

span.button_stack_data_heading{
  color:DarkRed;
}

span.button_stack_data_detail{
  color:#444;
}
