
div.seq_dia_test_case_header{
  position:relative;
  height:30px;
}

div.test_case_header_text{
  height:22px;
  text-align:center;
  padding-top:2px;
  margin:0px -100%;
  font-weight:bold;
}

div.test_case_header_line{
  height:8px;
  width:2px;
  margin:auto;
  background-color:black;
}
