
div.seq_dia_protocol_left{
  position:absolute;
  left:calc(-250% - 14px);
  width:300%;
  z-index:1;
}

div.seq_dia_protocol_right{
  position:absolute;
  left:calc(50% - -14px);
  width:300%;
  z-index:1;
}

text.seq_dia_protocol_text_left{
  font-weight:bold;
  font-size:8px;
  text-anchor:middle;
}

text.seq_dia_protocol_text_right{
  font-weight:bold;
  font-size:8px;
  text-anchor:middle;
}

text.seq_dia_protocol_text{
  font-weight:bold;
  font-size:8px;
  text-anchor:middle;
}

div.seq_dia_protocol_data_left{
  position:relative;
  border:1px solid black;
  border-radius:2px;
  float:right;
  height:9.5px;
  display:block;
  margin:0px 1px;
}

div.seq_dia_protocol_data_right{
  position:relative;
  border:1px solid black;
  border-radius:2px;
  float:left;
  height:9.5px;
  display:block;
  margin:0px 1px;
}

div.seq_dia_no_protocol_data{
  color:black;
  background-color:white;
}

p.seq_dia_protocol_data{
  margin:-0.5px 0px 0px 0px;
  padding:0px 1px;
  height:inherit;
  font-weight:700;
  font-size:7px;
}

p.seq_dia_protocol_caption_east{
  position:absolute;
  left:9px;
  margin:0px;
  padding:0px;
  height:inherit;
  font-weight:700;
  font-size:9px;
  white-space:nowrap;
}

p.seq_dia_protocol_caption_west{
  position:absolute;
  right:9px;
  margin:0px;
  padding:0px;
  height:inherit;
  font-weight:700;
  font-size:9px;
  white-space:nowrap;
}


line.seq_dia_protocol_connection_line{
  stroke-width:1;
}

line.seq_dia_protocol_message_line{
  stroke-width:2;
}

line.seq_dia_protocol_message_part_line{
  stroke-width:0.5;
  stroke:Black!important;
  stroke-dasharray:1 1;
}

line.seq_dia_protocol_tcp_line{
}

line.seq_dia_protocol_udp_line{
  stroke-dasharray:2;
  stroke-dashoffset:2;
}

line.seq_dia_protocol_mc_line{
  stroke-dasharray:12 2 2 2;
  stroke-dashoffset:1;
}

line.seq_dia_protocol_tls_line{
  stroke-dasharray:12 1 12 1;
}
