
div.seq_dia_test_case_end{
  position:relative;
  background-color:#f5f5f5;
  min-width:100%;
  white-space:nowrap;
  border:0.5px solid black;
  border-radius:3px;
  height:20px;
}

p.seq_dia_test_case_end_text{
  position:absolute;
  left:4px;
  margin:0px;
  height:18px;
  font-weight:bold;
}
  
div.seq_dia_test_case_end_result{
  position:absolute;
  left:140px;
  top:1px;
  height:16px;
  border:1px solid rgb(51, 122, 183);
  border-radius:2px;
}

p.seq_dia_test_case_end_result{
  display:block;
  position:relative;
  margin:0px;
  padding:0px 2px;
  height:16px;
  line-height:14px;
  font-weight:bold;
}

p.seq_dia_test_case_end_duration{
  position:absolute;
  left:232px;
  margin:0px;
  height:18px;
  font-weight:bold;
}
