
text.gui_seq_dia_function{
  fill:Black;
  font-weight:bold;
  font-size:8px;
  text-anchor:end;
}

rect.gui_seq_dia_function{
  stroke:Black;
  stroke-width:0.5;
  fill:forestgreen;
  rx:1.5;
}

//text.gui_seq_dia_svg{
//  fill:Navy;
//  font-weight:bold;
//  font-size:8px;
//  text-anchor:end;
//}

//text.gui_seq_dia_data_svg{
//  color:Navy;
//  font-weight:bold;
//  font-size:10px;
//  text-anchor:start;
//}

//rect.gui_seq_dia_svg{
//  stroke:Navy;
//  stroke-width:0.25;
//  fill:lightyellow;
//}

//line.gui_seq_dia_svg{
//  stroke:Navy;
//  stroke-width:0.5;
//}

path.gui_seq_dia_browser_svg{
  stroke:Black;
  stroke-width:8;
  fill:forestgreen;
  stroke-linecap:round;
}

line.gui_seq_dia_browser_fuel{
  stroke:Black;
  stroke-width:4;
  fill:forestgreen;
}

path.gui_seq_dia_page{
  stroke-width:14px;
  stroke:Black;
  fill:forestgreen;
}

rect.gui_seq_dia_type{
  fill:forestgreen;
}

div.seq_dia_show__phase_data__gui_event_object,
div.seq_dia_show__phase_pre__gui_event_object,
div.seq_dia_show__phase_exec__gui_event_object,
div.seq_dia_show__phase_post__gui_event_object,
div.seq_dia_show__phase_none__gui_event_object,
div.seq_dia_show__phase_data__gui_event_event,
div.seq_dia_show__phase_pre__gui_event_event,
div.seq_dia_show__phase_exec__gui_event_event,
div.seq_dia_show__phase_post__gui_event_event,
div.seq_dia_show__phase_none__gui_event_event,
div.seq_dia_show__phase_data__gui_event_function,
div.seq_dia_show__phase_pre__gui_event_function,
div.seq_dia_show__phase_exec__gui_event_function,
div.seq_dia_show__phase_post__gui_event_function,
div.seq_dia_show__phase_none__gui_event_function,
div.seq_dia_show__gui_event_info{
  display:flex;
}
